@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: #ffffff;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

ul {
  display: flex;
  gap: 4rem;
}

.title {
  color: #ffffff;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -25%);
}
